<div id="blog-home-container" class="card-columns">
  {{#each blogs}}
    <div class="card blog-card">
      <img src="/images/{{post_id}}" class="card-img-top" alt="">
      <div class="card-block">
        <h4 class="card-title"><a href="/blogs/{{post_id}}">{{post_title}}</a></h4>
        <p class="card-text">{{shortText 200 post_body}}</p>
      </div>
      <div class="card-block">
        <p class="card-text"><a href="/users/profile/{{post_username}}">{{post_author}}</a></p>
      </div>
    </div>
  {{/each}}
</div>
