<div id="blog-home-container">
  <div id="ative-post" class="col-lg-8">
    <div class="card">
      {{#if featuredblog}}
      <ul class="list-group list-group-flush">
        <li class="list-group-item ul_label"><strong>Featured Blog</strong></li>
        <li class="list-group-item">
          <h3 class="card-title" id="featured_title">{{featuredblog.post_title}}</h3>
          <p class="card-text" id="featured_body">{{featuredblog.post_body}}</p>
        </li>
      </ul>
      {{/if}}
    </div>
  </div>
  <div class="col-lg-4 recent-blog-posts" id="recent_blogs">
    <div class="recent-post-container card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item ul_label"><strong>Recent Blogs</strong></li>
        {{#each blogs}}
        <li class="list-group-item recent-blogs-list-item">
          <a href="blogs/{{post_id}}">
            <span class="no-overflow">{{post_title}}</span>
          </a>
          <span class="no-overflow">{{post_author}}</span>
        </li>
        {{/each}}
      </ul>
    </div>

  </div>
</div>
