<h2>{{blog.post_title}}</h2>
<p>{{blog.post_body}}</p>


<div class="">
  <ul class="recent-comment-list">
    {{#each comments}}
      <li class="recent-comment-container card">
        <div class="comment-container">
          <div class="comment-body">{{comment_body}}</div>
          <div class="comment-author">-{{comment_author}},  <span>posted on {{comment_timeposted}}</span></div>
        </div>
        {{#if comment_username}}
        <div class="comment-buttons">
          <a href="#" class="comment-delete-link">Delete</a>
          <a href="#" class="comment-edit-link">Edit</a>
        </div>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>


<form action="/comments/{{blog.post_id}}"+ method="post">
  <div class="form-group">
    <label>Comment:</label>
    <textarea type="text" class="form-control" name="comment" placeholder="Comment" ></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
