{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">
      {{msg}}
    </div>
  {{/each}}
{{/if}}

<ul>
  {{#each blogs}}
    <div class="card" id="myBlog-container">
      <div class="float_left">
        {{post_title}}</br>
        Post Date: {{post_id}}
      </div>
      <div class="float_right delete-button">
        <button type="button" class="btn btn-outline-secondary edit-blog-button" data="{{post_id}}">Edit</button>
        <button type="button" class="btn btn-outline-danger delete-blog-button" data="{{post_id}}">Delete</button>
      </div>
    </div>

  {{/each}}
</ul>

{{#if blogCount}}

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{#each blogCount.count}}
      <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
    {{/each}}

    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{{/if}}


<div class="hidden" id="blog-edit-prompt">
  <button type="button" id="blog-edit-submit" class="btn btn-secondary">Submit Changes</button>
</div>

<div class="hidden" id="blog-deletion-prompt">
  <div id="blog-contents">
    <span id="blog-title"></span>
    <span id="date-posted"></span>
  </div>
  <div id="deletion-prompt-buttons">
    <input type="button" class="btn btn-danger" value="Delete" data="" id="delete-btn">
    <input type="button" class="btn" data="" value="Cancel" id="cancel-btn">
  </div>
</div>
