<div class="" id="user-container">
  <div class="row">
    <a class="btn btn-outline-primary" href="/users/follow/{{user.username}}">Follow {{user.first_name}}</a>
  </div>

  <div class="row">
    <div id="ative-post" class="col-lg-8">
      <div class="card">
        <div class="card-block" id="featured-header">
          <Strong>Featured Blog</Strong>
        </div>
        <img src="/images/{{featblog.post_id}}" alt="" class="card-img">
        <div class="card-block">
          <h4 class="card-title">{{featblog.post_title}}</h4>
          <p class="card-text">{{shortText 300 featblog.post_body}}</p>
          <div class="link-container">
            <a href="/blogs/{{featblog.post_id}}" class="btn btn-primary">Go to Blog</a>
          </div>
        </div>
      </div>
    </div>
    <div id="blogs" class="col-lg-4">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item ul_label"><strong>Recent Blogs</strong></li>
          {{#each blogs}}
            <li class="list-group-item recent-blogs-list-item">
              <a href="/blogs/{{post_id}}">
                <span class="no-overflow left">{{post_title}}</span>
              </a>
              <span>Posted on: {{time post_id false}}</span>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
