<div class="" id="user-container">
  <div class="row profile-header">
    <div class="author-data-container float_left">
      <p id="pageUser-title"><strong>{{pageUser.first_name}} {{pageUser.last_name}}</strong></p>
      <p>Username: {{pageUser.username}}</p>
    </div>
    <div class="follers">

    </div>
    <div class="follow-button-container float_right">
      {{#if user}}
        {{#matchingUsers user.username pageUser.username}}
        {{else}}
          {{#checkFollowList ../user.following ../pageUser.username}}
            <button class="btn btn-outline-danger unfollow-user float_right" data="{{../pageUser.username}}">Unfollow</button>
            {{else}}
            <a class="btn btn-outline-primary float_right" href="/users/follow/{{../pageUser.username}}">Follow {{../pageUser.first_name}}</a>
            {{/checkFollowList}}
        {{/matchingUsers}}
      {{else}}
        <a href="/users/login?redirect=-users-profile-{{pageUser.username}}" class="btn btn-outline-primary float_right">Login To Follow!</a>
      {{/if}}
    </div>

  </div>

  <div class="row">
    <div id="ative-post" class="col-lg-8">
      <div class="card">
        <div class="card-block" id="featured-header">
          <Strong>Featured Blog</Strong>
        </div>
        <img src="/images/{{featblog.post_id}}" alt="" class="card-img">
        <div class="card-block">
          <h4 class="card-title center">{{featblog.post_title}}</h4>
          <p class="card-text">{{shortText 300 featblog.post_body}}</p>
          <div class="link-container">
            <a href="/blogs/{{featblog.post_id}}" class="btn btn-primary">Go to Blog</a>
          </div>
        </div>
      </div>
    </div>
    <div id="blogs" class="col-lg-4">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item ul_label"><strong>Recent Blogs</strong></li>
          {{#each blogs}}
            <li class="list-group-item recent-blogs-list-item">
              <a href="/blogs/{{post_id}}">
                <span class="no-overflow left">{{post_title}}</span>
              </a>
              <span>Posted on: {{time post_id false}}</span>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
